<template>
  <v-container>
    <v-row>
      <v-col cols=12>
        <v-alert type="error" v-show="errorMsg.length > 0">
          {{ errorMsg }}
        </v-alert>
      </v-col>

      <v-col cols=12>
        <v-simple-table>
          <thead>
            <tr>
              <th class="text-left">
                {{ $t('table-username') }}
              </th>

              <th class="text-left">
                {{ $t('table-obs-hands') }}
              </th>
            </tr>
          </thead>

          <tbody>
            <tr
              v-for="player in playerList"
              :key="player.name"
            >
              <td><NuxtLink :to="'/profile/' + player.name">{{ player.name }}</NuxtLink></td>
              <td>{{ player.observedHands }}</td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      errorMsg: '',
    };
  },

  computed: {
    playerList() {
      return this.$store.state.playerList;
    },
  },
};
</script>

<style>
  td a {
    text-decoration: none;
    font-weight: bold;
    color: inherit !important;
  }
</style>
