<template>
  <v-container>
    <v-row>
      <v-col>
        <v-stepper v-model="step">
          <v-stepper-header>
            <v-stepper-step :complete="step > 1" step="1">
              {{ $t('submit-files-step') }}
            </v-stepper-step>

            <v-divider />

            <v-stepper-step step="2">
              {{ $t('submission-result-step') }}
            </v-stepper-step>
          </v-stepper-header>

          <v-stepper-items>
            <v-stepper-content step="1">
              <FileChooser @dataUpload="filesUploaded" />
            </v-stepper-content>

            <v-stepper-content step="2">
              <SubmissionResult :result="result" />
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import FileChooser from '@/components/file-chooser.vue';
import SubmissionResult from '@/components/submission-result.vue';

export default {
  layout: 'default',

  auth: false,

  components: {
    FileChooser,
    SubmissionResult,
  },

  methods: {
    filesUploaded(responseData) {
      this.result = responseData;
      if ('token' in this.result) {
        this.$auth.setUserToken(this.result.token);
      }
      this.step = 2;

      this.$store.dispatch('updatePlayerList');
    },
  },

  data() {
    return {
      step: 1,
      result: {},
    };
  },

  head() {
    return {
      title: this.$t('submit-pagetitle'),
    };
  },
};
</script>
