<template>
  <v-container>
    <v-row align="center">
      <v-col cols=12 md=6>
        <div class="text-h3">{{ allStats.name }}</div>
      </v-col>

      <v-col cols=12 md=6>
        <div class="text-subtitle-1 text-md-right grey--text text--lighten-1">
          {{ $t('obs-hands', [statData.observedHands]) }}
        </div>
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col cols=12 md=8>
        <VerdictCard :playerData="allStats" />
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <tablesizeChooser />
      </v-col>
    </v-row>

    <v-row>
      <v-col v-if="allStats.pokerth" cols=12 md=6 lg=4>
        <PokerTHInfoCard :playerData="allStats" />
      </v-col>

      <v-col cols=12 md=6 lg=4>
        <RoundCard :playerData="statData" />
      </v-col>

      <v-col cols=12 md=6 lg=4>
        <AggressionCard :playerData="statData" />
      </v-col>

      <v-col cols=12 md=6 lg=4>
        <BettingCard :playerData="statData" />
      </v-col>

      <v-col cols=12 md=6 lg=4>
        <InvestmentRevenueCard :playerData="statData" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import PokerTHInfoCard from '@/components/pokerth-info-card.vue';
import VerdictCard from '@/components/verdict-card.vue';
import AggressionCard from '@/components/aggression-card.vue';
import InvestmentRevenueCard from '@/components/investment-revenue-card.vue';
import RoundCard from '@/components/round-card.vue';
import BettingCard from '@/components/betting-card.vue';
import tablesizeChooser from '@/components/tablesize-chooser.vue';

export default {
  laytout: 'default',

  middleware: 'auth',

  components: {
    PokerTHInfoCard,
    VerdictCard,
    AggressionCard,
    InvestmentRevenueCard,
    RoundCard,
    BettingCard,
    tablesizeChooser,
  },

  async asyncData({ params }) {
    const profileName = params.index;
    return { profileName };
  },

  computed: {
    statData() {
      return this.allStats[this.$store.getters.tablesizeDescription];
    },
  },

  async mounted() {
    try {
      this.allStats = await this.$axios.$get(`/api/player/${this.$route.params.index}`);
    } catch (err) {
      if (err.response.status === 401) {
        this.$auth.logout();
      }
    }
  },

  data() {
    return {
      allStats: {
        fullring: {},
        shorthand: {},
        headsup: {},
      },
    };
  },

  head() {
    return {
      title: this.$t('profile-pagetitle', [this.$route.params.index]),
    };
  },
};
</script>
