<template>
  <nuxt />
</template>

<script>
export default {
  name: 'landing',

  mounted() {
    // Activate the dark theme at night, deactivate it during daylight.
    const now = new Date();
    this.$vuetify.theme.dark = !((now.getHours() < 21) && (now.getHours() > 5));
  },
};
</script>
