<template>
  <v-card>
    <v-card-title>{{ $t('aggression-title') }}</v-card-title>

    <v-list>
      <v-list-item>
        <v-list-item-content>
          <TextWithInfo>
            <template v-slot:label>
              Aggression Factor
            </template>
            <template v-slot:description>
              {{ $t('desc-af') }}
            </template>
          </TextWithInfo>
        </v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel
            :value="playerData.aggression"
            :percent="false"
            :low="upperLowerBound.aggression.low"
            :high="upperLowerBound.aggression.high"
          />
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>Flop AF</v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel
            :value="playerData.flopAggression"
            :percent="false"
            :low="upperLowerBound.flopAggression.low"
            :high="upperLowerBound.flopAggression.high"
          />
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>Turn AF</v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel
            :value="playerData.turnAggression"
            :percent="false"
            :low="upperLowerBound.turnAggression.low"
            :high="upperLowerBound.turnAggression.high"
          />
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>River AF</v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel
            :value="playerData.riverAggression"
            :percent="false"
            :low="upperLowerBound.riverAggression.low"
            :high="upperLowerBound.riverAggression.high"
          />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
import OpinionatedLabel from '~/components/opinionated-label.vue';
import TextWithInfo from '~/components/text-with-info.vue';

export default {
  name: 'AggressionCard',

  components: {
    OpinionatedLabel,
    TextWithInfo,
  },

  props: {
    playerData: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      borderValues: {
        fullring: {
          aggression: {
            low: 1.0,
            high: 4.0,
          },
          flopAggression: {
            low: 1.0,
            high: 4.0,
          },
          turnAggression: {
            low: 1.0,
            high: 4.0,
          },
          riverAggression: {
            low: 1.0,
            high: 4.0,
          },
        },
        shorthand: {
          aggression: {
            low: 2.0,
            high: 4.0,
          },
          flopAggression: {
            low: 2.0,
            high: 4.0,
          },
          turnAggression: {
            low: 2.0,
            high: 4.0,
          },
          riverAggression: {
            low: 2.0,
            high: 4.0,
          },
        },
        headsup: {
          // There are no values for Heads-Up since this game is
          // so volatile and dependent on your opponent that there are
          // no general recommendations.
          aggression: {
          },
          flopAggression: {
          },
          turnAggression: {
          },
          riverAggression: {
          },
        },
      },
    };
  },

  computed: {
    upperLowerBound() {
      return this.borderValues[this.$store.getters.tablesizeDescription];
    },
  },
};
</script>
