<template>
  <v-card>
    <v-card-title>{{ $t('betting-title') }}</v-card-title>

    <v-list>
      <v-list-item>
        <v-list-item-content>
          <TextWithInfo>
            <template v-slot:label>Preflop Raise</template>
            <template v-slot:description>
              {{ $t('desc-preflop-raise') }}
            </template>
          </TextWithInfo>
        </v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel
            :value="playerData.preflopRaise"
            :low="upperLowerBound.preflopRaise.low"
            :high="upperLowerBound.preflopRaise.high"
          />
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <TextWithInfo>
            <template v-slot:label>Continuation Bet</template>
            <template v-slot:description>
              {{ $t('desc-continuation-bet') }}
            </template>
          </TextWithInfo>
        </v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel :value="playerData.contiBet" />
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <TextWithInfo>
            <template v-slot:label>Bet River</template>
            <template v-slot:description>
              {{ $t('desc-bet-river') }}
            </template>
          </TextWithInfo>
        </v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel :value="playerData.betRiver" />
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <TextWithInfo>
            <template v-slot:label>Check-Raise</template>
            <template v-slot:description>
              {{ $t('desc-check-raise') }}
            </template>
          </TextWithInfo>
        </v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel :value="playerData.checkRaise" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
import OpinionatedLabel from '~/components/opinionated-label.vue';
import TextWithInfo from '~/components/text-with-info.vue';

export default {
  name: 'BettingCard',

  components: {
    OpinionatedLabel,
    TextWithInfo,
  },

  props: {
    playerData: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      borderValues: {
        fullring: {
          preflopRaise: {
            low: 0.05,
            high: 0.3,
          },
        },
        shorthand: {
          preflopRaise: {
            low: 0.05,
            high: 0.3,
          },
        },
        headsup: {
          // There are no values for Heads-Up since this game is
          // so volatile and dependent on your opponent that there are
          // no general recommendations.
          preflopRaise: {
          },
        },
      },
    };
  },

  computed: {
    upperLowerBound() {
      return this.borderValues[this.$store.getters.tablesizeDescription];
    },
  },
};
</script>
