<template>
  <v-card>
    <v-card-title>{{ $t('fold-title') }}</v-card-title>

    <v-list>
      <v-list-item>
        <v-list-item-content>Folded to Contibet:</v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel :value="playerData.foldContiBet" />
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>Folded 2nd barrel:</v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel :value="playerData.foldSecondBarrel" />
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>Folded to n-Bets:</v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel :value="playerData.foldNBet" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
import OpinionatedLabel from '~/components/opinionated-label.vue';

export default {
  name: 'FlopCard',

  components: {
    OpinionatedLabel,
  },

  props: {
    playerData: {
      type: Object,
      required: true,
    },
  },
};
</script>
