<template>
  <v-card>
    <v-card-title>{{ $t('invest-rev-title') }}</v-card-title>

    <v-list>
      <v-list-item>
        <v-list-item-content>
          <TextWithInfo>
            <template v-slot:label>VP$IP</template>
            <template v-slot:description>
              {{ $t('desc-vpip') }}
            </template>
          </TextWithInfo>
        </v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel
            :value="playerData.vpip"
            :low="upperLowerBound.vpip.low"
            :high="upperLowerBound.vpip.high"
          />
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <TextWithInfo>
            <template v-slot:label>W$WSF</template>
            <template v-slot:description>
              {{ $t('desc-wwsf') }}
            </template>
          </TextWithInfo>
        </v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel :value="playerData.wonFlop" :low="upperLowerBound.wwsf.low" />
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <TextWithInfo>
            <template v-slot:label>W$SD</template>
            <template v-slot:description>
              {{ $t('desc-wsd') }}
            </template>
          </TextWithInfo>
        </v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel
            :value="playerData.wonShowdown"
            :low="upperLowerBound.wsd.low"
            :high="upperLowerBound.wsd.high"
          />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
import OpinionatedLabel from '~/components/opinionated-label.vue';
import TextWithInfo from '~/components/text-with-info.vue';

export default {
  name: 'InvestmentRevenueCard',

  components: {
    OpinionatedLabel,
    TextWithInfo,
  },

  props: {
    playerData: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      borderValues: {
        fullring: {
          vpip: {
            high: 0.25,
            low: 0.15,
          },
          wwsf: {
            low: 0.42,
          },
          wsd: {
            low: 0.4,
            high: 0.6,
          },
        },
        shorthand: {
          vpip: {
            high: 0.3,
            low: 0.15,
          },
          wwsf: {
            low: 0.42,
          },
          wsd: {
            low: 0.4,
            high: 0.6,
          },
        },
        headsup: {
          // There are no values for Heads-Up since this game is
          // so volatile and dependent on your opponent that there are
          // no general recommendations.
          vpip: {
          },
          wwsf: {
          },
          wsd: {
          },
        },
      },
    };
  },

  computed: {
    upperLowerBound() {
      return this.borderValues[this.$store.getters.tablesizeDescription];
    },
  },
};
</script>
