<template>
  <v-menu bottom offset-y transition="scale-transition">
    <template v-slot:activator="{ on, attrs }">
      <v-btn icon v-on="on" v-bind="attrs">
        <v-icon>mdi-translate</v-icon>
      </v-btn>
    </template>

    <v-list>
      <v-list-item-group v-model="activeLang" color="secondary">
        <v-list-item
          v-for="loc in $i18n.locales"
          :key="loc.code"
          @click="$i18n.setLocale(loc.code)"
        >
          <v-list-item-content>
            <v-list-item-title v-text="loc.name" />
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: 'LanguageSwitcher',

  mounted() {
    this.activeLang = this.$i18n.locales.findIndex((loc) => loc.code === this.$i18n.locale);
  },

  data() {
    return {
      activeLang: 0,
    };
  },
};
</script>
