<template>
  <v-card max-width="250">
    <v-img height="250" width="250" :src="playerData.pokerth.avatar" />

    <v-card-title>{{ playerData.name }}</v-card-title>

    <v-card-text>
      <v-list dense>
        <v-list-item>
          <v-list-item-content>PokerTH rank</v-list-item-content>
          <v-list-item-content class="align-end font-weight-bold">
            {{ playerData.pokerth.rank_pos }}
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>Nationality</v-list-item-content>
          <v-list-item-content class="align-end font-weight-bold">
            {{ playerData.pokerth.country_iso }}
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-list-item-content>Gender</v-list-item-content>
          <v-list-item-content class="align-end font-weight-bold">
            {{ playerData.pokerth.gender }}
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'PokerTHInfoCard',

  props: {
    playerData: Object,
  },
};
</script>
