<template>
  <v-card>
    <v-card-title>{{ $t('round-title') }}</v-card-title>

    <v-list>
      <v-list-item>
        <v-list-item-content>Flop seen</v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel :value="playerData.flopSeen" />
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>Turn seen</v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel :value="playerData.turnSeen" />
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>River seen</v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel :value="playerData.riverSeen" />
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <TextWithInfo>
            <template v-slot:label>WTS</template>
            <template v-slot:description>
              {{ $t('desc-wts') }}
            </template>
          </TextWithInfo>
        </v-list-item-content>
        <v-list-item-content class="align-end">
          <OpinionatedLabel
            :value="playerData.wentToShowdown"
            :low="upperLowerBound.wentToShowdown.low"
            :high="upperLowerBound.wentToShowdown.high"
          />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
import OpinionatedLabel from '~/components/opinionated-label.vue';
import TextWithInfo from '~/components/text-with-info.vue';

export default {
  name: 'RoundCard',

  components: {
    OpinionatedLabel,
    TextWithInfo,
  },

  props: {
    playerData: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      borderValues: {
        fullring: {
          wentToShowdown: {
            low: 0.2,
            high: 0.3,
          },
        },
        shorthand: {
          wentToShowdown: {
            low: 0.2,
            high: 0.3,
          },
        },
        headsup: {
          // There are no values for Heads-Up since this game is
          // so volatile and dependent on your opponent that there are
          // no general recommendations.
          wentToShowdown: {
          },
        },
      },
    };
  },

  computed: {
    upperLowerBound() {
      return this.borderValues[this.$store.getters.tablesizeDescription];
    },
  },
};
</script>
