<template>
  <v-container>
    <v-row justify="center">
      <v-col cols=8>
        <v-alert type="error" v-show="!gotToken">
          {{ $t('too-few-data-for-login') }}
        </v-alert>
      </v-col>

      <v-col cols=8>
        <v-alert type="success" v-show="gotToken">
          {{ $t('login-after-submission') }}
        </v-alert>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" sm=8 md=6 lg=4 xl=3>
        <v-card>
          <v-card-title>{{ $t('added-actions-cap') }}</v-card-title>
          <v-card-text>{{ result.addedActions }}</v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" sm=8 md=6 lg=4 xl=3>
        <v-card>
          <v-card-title>{{ $t('known-actions-cap') }}</v-card-title>
          <v-card-text>{{ result.knownActions }}</v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" sm=8 md=6 lg=4 xl=3>
        <v-card>
          <v-card-title>{{ $t('old-games-cap') }}</v-card-title>
          <v-card-text>{{ result.oldGames }}</v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" sm=8 md=6 lg=4 xl=3>
        <v-card>
          <v-card-title>{{ $t('defunct-files-cap') }}</v-card-title>
          <v-card-text>{{ result.defunctFiles }}</v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'SubmissionResult',

  props: {
    result: Object,
  },

  computed: {
    gotToken() {
      return 'token' in this.result;
    },
  },
};
</script>
