<template>
  <v-container>
    <v-row align="center" justify="center">
      <v-btn-toggle v-model="tableSize" mandatory>
        <v-btn text color="secondary">{{ $t('button-fullring') }}</v-btn>
        <v-btn text color="secondary">{{ $t('button-shorthand') }}</v-btn>
        <v-btn text color="secondary">{{ $t('button-headsup') }}</v-btn>
      </v-btn-toggle>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'TablesizeChooser',

  computed: {
    tableSize: {
      get() {
        return this.$store.state.tableSize;
      },

      set(value) {
        this.$store.commit('setTablesize', value);
      },
    },
  },
};
</script>
