<template>
  <span>
    <slot name="label" />
    <v-dialog transition="dialog-top-transition" v-model="dialog" width="500">
      <template v-slot:activator="{ on, attrs }">
        <v-btn icon v-bind="attrs" v-on="on">
          <v-icon>mdi-help-circle-outline</v-icon>
        </v-btn>
      </template>

      <v-card>
        <v-card-title>
          <v-icon>mdi-information-outline</v-icon>
          <v-spacer />
          <slot name="label" />
          <v-spacer />
        </v-card-title>

        <v-card-text>
          <slot name="description" />
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer />
          <v-btn color="accent" text @click="dialog = false">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
export default {
  name: 'TextWithInfo',

  data() {
    return {
      dialog: false,
    };
  },
};
</script>
