<template>
  <v-card>
    <v-row>
      <v-col align="center">
        <v-img
          :src="verdictInfo.image"
          max-width="250"
          max-height="250"
          contain
        />
      </v-col>
    </v-row>

    <v-card-title v-text="verdictInfo.title" />

    <v-card-text v-text="$t(verdictInfo.description)" />
  </v-card>
</template>

<script>
export default {
  name: 'VerdictCard',

  props: {
    playerData: Object,
  },

  computed: {
    verdictInfo() {
      const vdct = this.playerData.verdict || 'undetermined';

      return (vdct in this.explanations
        ? this.explanations[vdct]
        : this.explanations.undetermined
      );
    },
  },

  data() {
    return {
      explanations: {
        /* eslint-disable global-require */
        allInTroll: {
          image: require('@/assets/s_All-in_Troll.svg'),
          title: 'All-In Troll',
          description: 'desc-allInTroll',
        },

        donkey: {
          image: require('@/assets/s_Donkey.svg'),
          title: 'Donkey',
          description: 'desc-donkey',
        },

        dumbLag: {
          image: require('@/assets/s_Dumb_LAG.svg'),
          title: 'Dumb LAG',
          description: 'desc-dumbLag',
        },

        fish: {
          image: require('@/assets/s_Fish.svg'),
          title: 'Fish',
          description: 'desc-fish',
        },

        fool: {
          image: require('@/assets/s_Fool.svg'),
          title: 'Fool',
          description: 'desc-fool',
        },

        lag: {
          image: require('@/assets/s_LAG.svg'),
          title: 'Loose-Aggressive',
          description: 'desc-lag',
        },

        maniac: {
          image: require('@/assets/s_Maniac.svg'),
          title: 'Maniac',
          description: 'desc-maniac',
        },

        undetermined: {
          image: require('@/assets/s_NoData.svg'),
          title: 'Undetermined',
          description: 'desc-undetermined',
        },

        rock: {
          image: require('@/assets/s_Rock.svg'),
          title: 'Rock',
          description: 'desc-rock',
        },

        shark: {
          image: require('@/assets/s_Shark.svg'),
          title: 'Shark',
          description: 'desc-shark',
        },

        weakPassive: {
          image: require('@/assets/s_Weak-Passive.svg'),
          title: 'Weak-Passive',
          description: 'desc-weakPassive',
        },
      },
    };
  },
};
</script>
